@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark-blue-color: #00008B;
    --medium-blue-color: #1F75FE;
    --light-blue-color: #74BBFB;
    --dark-grey-color: black;
    --medium-grey-color: #808080;
    --light-grey-color: #F1F1F1;
    --large-font: "Roboto", sans-serif;
    --small-font: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--small-font);
}

body {
    min-width: 320px;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey-color);
}

#colored-bar {
    width: 100%;
    height: .5rem;
    background: var(--medium-blue-color);
}

picture {
    display: flex;
    justify-content: center;
}

#logo {
    width: 67%;
    height: auto;
    margin: 1rem 0 0 0;
}

header ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 1rem 0;
}

#home-button {
    display: flex;
    justify-self: flex-end;
    place-content: center;
    width: 67%;
    border: 0.15rem solid var(--medium-blue-color);
    padding: 0.5rem;
}

#companies-button {
    display: flex;
    place-content: center;
    width: 67%;
    border: 0.15rem solid white;
    padding: 0.5rem;
}

#home-button a {
    color: var(--medium-blue-color);
    text-decoration: none;
    text-transform: uppercase;
}

#companies-button a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (max-width: 375px) {
    #companies-button {
        align-items: center;
        font-size: .9rem;
    }
}

#home-button:hover {
    cursor: pointer;
    border: 0.15rem solid white;
    background-color: white;
    font-weight: 700;
}

#companies-button:hover {
    cursor: pointer;
    border: 0.15rem solid var(--medium-blue-color);
    background-color: var(--medium-blue-color);
    font-weight: 700;
}

.highlight {
    color: var(--medium-blue-color);
}

#career-form {
    display: block;
    border: none;
    background-color: var(--light-grey-color);
    padding: 1rem;
}

#career-form h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
}

#position-level {
    margin: 1rem 0 1.5rem 0;
}

#position-level label {
    display: block;
    margin: 0.5rem 0;
}

#position-level input[type="checkbox"] {
    margin: 0 0.5rem 0 0;
}

#small-box {
    width: 20%;
    height: 0.15rem;
    background: var(--medium-blue-color);
    margin: 0 0 1rem 0;
}

#user-salary {
    font-size: 1.25rem;
    color: green;
    margin: 1rem 0;
}

#filter-results {
    display: block;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--medium-blue-color);
    border: 0.15rem solid var(--medium-blue-color);
    padding: 0.5rem;
    margin: 1rem 0 0 0;
}

#filter-results:hover {
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    background-color: var(--medium-blue-color);
    border: 0.15rem solid var(--medium-blue-color);
}

#careers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin: 1rem;
}

#careers-grid article {
    background-color: var(--light-grey-color);
    padding: 1rem;
}

#careers-grid h3 {
    margin: 0 0 0.5rem;
}

#careers-grid p {
    margin: 0.5rem 0 0 0;
}

#company-name {
    color: var(--medium-blue-color);
}

#career-salary {
    color: green;
}

#noResults {
    place-self: center;
    text-align: center;
    font-style: italic;
    color: var(--medium-blue-color);
}

footer {
    text-align: center;
    line-height: 1.5rem;
    background-color: var(--light-grey-color);
    padding: 1rem;
}