@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* #114084, #3466AA, #82B7DC */

:root {
    --dark-blue-color: #00008B;
    --medium-blue-color: #1F75FE;
    --light-blue-color: #74BBFB;
    --dark-grey-color: black;
    --medium-grey-color: #808080;
    --light-grey-color: #F1F1F1;
    --large-font: "Roboto", sans-serif;
    --small-font: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--small-font);
}

body {
    min-width: 320px;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey-color);
}

#colored-bar {
    width: 100%;
    height: .5rem;
    background: var(--medium-blue-color);
}

picture {
    display: flex;
    justify-content: center;
}

#logo {
    width: 67%;
    height: auto;
    margin: 1rem 0 0 0;
}

header ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 1rem 0 0 0;
}

#careers-button {
    display: flex;
    justify-self: flex-end;
    place-content: center;
    width: 67%;
    border: 0.15rem solid var(--medium-blue-color);
    padding: 0.5rem;
}

#companies-button {
    display: flex;
    place-content: center;
    width: 67%;
    border: 0.15rem solid white;
    padding: 0.5rem;
}

#careers-button a {
    color: var(--medium-blue-color);
    text-decoration: none;
    text-transform: uppercase;
}

#companies-button a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (max-width: 375px) {
    #companies-button {
        align-items: center;
        font-size: .9rem;
    }
}

#careers-button:hover {
    cursor: pointer;
    border: 0.15rem solid white;
    background-color: white;
    font-weight: 700;
}

#companies-button:hover {
    cursor: pointer;
    border: 0.15rem solid var(--medium-blue-color);
    background-color: var(--medium-blue-color);
    font-weight: 700;
}

h1 {
    text-transform: uppercase;
    font-family: var(--large-font);
    font-weight: 900;
    text-align: center;
    color: white;
    margin: 1rem 2rem;
}

#career-company-links {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey-color);
}

#career-company-links article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

#career-company-links img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

#career-company-links a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
    margin: 1rem 0 0 0;
    padding: 0.25rem 0.5rem;
}

#career-company-links a:hover {
    color: var(--medium-blue-color);
    background-color: white;
    padding: 0.25rem 0.5rem;
}

#career-company-links p {
    text-align: center;
    color: white;
    margin: 0.5rem 0 0 0;
}

.small-box {
    width: 20%;
    height: 0.15rem;
    background: var(--medium-blue-color);
    margin: 1rem 0 0 0;
}

.highlight {
    color: var(--medium-blue-color);
}

footer {
    text-align: center;
    line-height: 1.5rem;
    background-color: var(--light-grey-color);
    padding: 1rem;
}