/* #8b0000, #9f3434, #2e2e2e, #331d1d, 	#8d7051, #cdb79e, #ede1b1, #fafad2
#e72222, #e7a43b, #8cb8c5, #d0839a, #ddb1b1
#450b00, #a51200, #e75710, #fb8239, #fcd8b6
*/

@media screen and (min-width: 750px) {
    main {
        position: relative;
    }

    #data-article {
        position: absolute;
        top: 3rem;
        left: 2rem;
        padding: 0.5rem;
        opacity: 0.8;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    }

    #weather-article {
        position: absolute;
        bottom: 3rem;
        right: 2rem;
        padding: 0.5rem;
        opacity: 0.8;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    }

    #weather-article h2 {
        text-align: center;
        padding: 1rem;
    }

    .sunny-container {
        display: none;
    }

    .table {
        padding: 1rem;
    }

    h2 {
        position: relative;
        background-color: var(--secondary-color);
        left: -1rem;
        text-align: left;
        color: var(--tertiary-color);
    }

    #weather-article h2::after {
        content: " ☀️"
    }
}