/* #8b0000, #9f3434, #2e2e2e, #331d1d, 	#8d7051, #cdb79e, #ede1b1, #fafad2
#e72222, #e7a43b, #8cb8c5, #d0839a, #ddb1b1
#450b00, #a51200, #e75710, #fb8239, #fcd8b6
*/

:root {
    --main-color: #9f3434;
    --secondary-color: #450b00;
    --tertiary-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body {
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
}

header h1 {
    color: var(--tertiary-color);
    background-color: var(--main-color);
    text-align: center;
    padding: 1.5rem;
}

.hero img {
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
    padding: 1rem 0;
}

#data-article,
#weather-article {
    background-color: var(--tertiary-color);
}

h2 {
    text-align: center;
    padding: 1rem;
}

main {
    background-color: var(--secondary-color);
}

#weather-article h2 {
    text-align: center;
    padding: 1rem 1rem 0 1rem;
}

.sunny-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.sunny {
    width: 50%;
    height: auto;
}

.table {
    padding: 0 1rem 1rem 1rem;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.25rem 0;
}

.title {
    font-weight: 700;
    text-align: right;
    padding: 0 0.5rem 0 0;
}

.data {
    text-align: left;
    padding: 0 0 0 0.5rem;
}

footer {
    background-color: var(--main-color);
    color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}